.change-password-page {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    padding-bottom: 15px;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

.change-password-page-light {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    padding-bottom: 15px;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    box-shadow: 1px 1px lightgrey
}

.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #121212;
    color: white;
}

.change-password-form-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    color: black;
}

.change-password-form input {
    padding: 5px;
    font-size: 14px;
    border-radius: 50px;
    outline: none;
}

.change-password-form-light input {
    padding: 5px;
    font-size: 14px;
    border-radius: 50px;
    outline: none;
}

.change-password-form label {
    font-size: 20px;
}

.change-password-form-light label {
    font-size: 20px;
}

.change-password-buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.password-changed-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #121212;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.password-changed-notice-light {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 10px;
    box-shadow: 1px 1px lightgrey;
}