.character-creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px 30px;
    border-radius:15px;
    background-color: #404040;
    gap: 7px;
}

.creation-form-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 10px 30px;
  border-radius:15px;
  background-color: white;
  gap: 7px;
  border: black solid 1px;
  box-shadow: 1px 1px lightgrey;
}

.creation-form input {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 50px;
    outline: none;
    text-align: center;
    font-size: 16px;
}

.creation-form-light input {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  border-radius: 50px;
  outline: none;
  text-align: center;
  font-size: 16px;
}

.creation-form label {
    font-size: 16px;
    padding: 5px;
}

.creation-form-light label {
  font-size: 16px;
  padding: 5px;
}

.creation-form img {
    border-radius: 50%;
}


.creation-form-light img {
  border-radius: 50%;
}

.creation-form textarea {
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100px;
}

.creation-form-light textarea {
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100px;
}

.alignment-select {
    outline: 0;
    background: white;
    background-image: none;
    width: 100px;
    height: 25px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;;
}

.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

@media only screen and (max-width: 650px) {
  .character-creation {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    padding-bottom: 100px;
  }
}